apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    cert-manager.io/cluster-issuer: zerossl
    ingress.kubernetes.io/rewrite-target: /
    kubernetes.io/ingress.class: nginx
  name: {{ template "pritunl.fullname" . }}
spec:
  rules:
  - host: vpn.wayofthesys.com
    http:
      paths: 
      - backend:
          service:
            name: {{ template "pritunl.name" . }}
            port:
              number: {{ .Values.ports.vpn }}
        path: /
        pathType: ImplementationSpecific
  tls:
    - hosts:
      - vpn.wayofthesys.com
    secretName: "wayofthesys-com-pritunl-tls"
